{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{deps, [
    {overworld, {git, "https://github.com/saltysystems/overworld.git", {branch, "master"}}},
    {eflambe, {git, "https://github.com/Stratus3D/eflambe.git", {branch, "master"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [
        ks,
        overworld,
        eflambe
    ]}
]}.

{plugins, [
    {rebar3_gpb_plugin, "2.13.2"},
    erlfmt
]}.

{erl_opts, [
    debug_info,
    {i, "./_build/default/plugins/gpb/include"}
]}.

{gpb_opts, [
    % path/to/proto_dir
    {i, "priv/proto"},
    % Naming convention, unless you have a good reason just go with it.
    {module_name_suffix, "_pb"},
    % Where the generated source is placed
    {o_erl, "src"},
    % Where the generated include files are placed
    {o_hrl, "src"},
    {strings_as_binaries, false},
    {maps, true},
    {msgs_as_maps, true},
    {mapfields_as_maps, true},
    type_specs
]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

{relx, [
    {release, {ks, "1.0.0"}, [ks]},

    {sys_config, "./config/sys.config"},
    %{vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}
    %{overlay, [{copy, "apps/overworld/priv/*.pem", "certificate/"}]}
]}.
